@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}
.background{
    background:linear-gradient(45deg, #720dea, #08ffd5);
    height: 100vh;
    padding: 20px;
}
button:nth-child(1){
    padding: 15px 20px 10px 20px;
}
.row:nth-child(1){
    padding: 20px 20px 0px 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.col{
    text-align: center;
    margin: 20px;
}
h2{
    font-size: 70px;
    background-color: #fff; 
    width: 192px;
    position: absolute;
    margin-left: 42.5%;
    padding: 30px;
    text-align: center
}
.space{
    background-color: #fff;
    margin-top: 67px;
    height: 8px
}
input{
    overflow: scroll;
    background-color: #000;
    color: white;
    outline: none;
    width: 225px;
    height: 95px;
    border: 7px double #fff;
    border-radius: 5px;
    text-align: center;
    display: block;
}
.row:nth-child(4) {
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-top: 65px;
}
.left .col{
    text-align: left
}
.score{
    margin-top: 90px
}
button:nth-child(2){
    padding: 20px 25px 15px 25px;
    margin: 20px;
    margin-top: 56px;
}
button:hover{
    background-color: #ffffffbf
}
@keyframes ani{
    0%{
        background: linear-gradient(0deg,#720dea, #08ffd5);
    }
    25%{
        background: linear-gradient(90deg, #720dea, #08ffd5);
    }
    50%{
        background: linear-gradient(180deg, #720dea, #08ffd5);
    }
    70%{
        background: linear-gradient(270deg, #720dea, #08ffd5);
    }
    100%{
        background: linear-gradient(3600deg, #720dea, #08ffd5);
    }
}